<template>
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header-contact">
            <ul>
              <li>Bienvenue Chez Brodelec Store</li>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>02.38.64.95.04
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <ul class="header-dropdown">
            <li class="onhover-dropdown mobile-account">
              <i class="fa fa-user" aria-hidden="true"></i> Mon Compte
              <ul class="onhover-show-div">
                <li>
                  <a v-if="isLogin" @click="logout"> Logout </a>
                </li>
                <li>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase'
export default {
  data() {
    return {
      isLogin: false
    }
  },
  created() {
    if (process.client) {
      this.isLogin = localStorage.getItem('userlogin')
    }
  },
  methods: {
    logout: function () {
      firebase.auth().signOut().then(() => {
        this.$router.replace('/page/account/login-firebase')
      })
    }
  }
}
</script>

<style scoped>
  .top-header {
    background-color: #01aded;
  }
  
    .top-header .header-contact,
    .top-header .header-dropdown li {
      padding: 4px 0;
    }

      .top-header .header-contact li,
      .top-header .header-contact li i,
      .top-header .header-dropdown li,
      .top-header .header-dropdown li i {
        color: #fff;
      }

  .onhover-dropdown .onhover-show-div {
    top: 30px;
    border: .1rem solid rgb(225, 227, 229);
  }

  header .main-navbar .nav-menu > li > a {
    letter-spacing: 0.02em;
  }
</style>