<template>
  <div>
    <div class="img-block">
      <div class="front">
        <nuxt-link :to="{ path: '/product/sidebar/'+collection.id}">
          <img
            :src='`https://brodelec.fr/${collection.thumb}`'
            :id="collection.id"
            class="img-fluid bg-img"
            :alt="collection.name"
            :key="index"
          />
        </nuxt-link>
      </div>
    </div>
    <div class="product-detail">
      <a href="product-page(no-sidebar).html">
        <h6>{{ collection.name }}</h6>
      </a>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
export default {
  props: ['collection', 'index'],
  data() {
    return {
      imageSrc: '',
      quickviewProduct: {},
      compareProduct: {},
      showquickview: false,
      showCompareModal: false,
      cartval: false,
      variants: {
        productId: '',
        image: ''
      },
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
}
</script>
