<template>
  <div>
    <Header />
    <Breadcrumbs :title="title" />
    <section class="register-page contact-page section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 left-contact-page">
            <h3>{{title}}</h3>
            <div class="theme-card">
              <ValidationObserver v-slot="{ invalid }">
              <form class="theme-form" @submit.prevent="onSubmit">
                <!--
                SOCIÉTÉ
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'Société'"
                    >
                      <label for="company">Société</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="text"
                        class="form-control"
                        :class="classes"
                        id="company"
                        v-model="company"
                        placeholder="MA SARL"
                        name="_company"
                      />
                    </ValidationProvider>
                  </div>
                </div>
                <!--
                SIRET
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'SIRET'"
                    >
                      <label for="siret">SIRET</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="text"
                        class="form-control"
                        :class="classes"
                        id="siret"
                        v-model="siret"
                        placeholder="00000000000000"
                        name="_siret"
                      />
                    </ValidationProvider>
                  </div>
                </div>
                <!--
                ACTIVITÉ
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'Activité'"
                    >
                      <label for="activity">Activité</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="text"
                        class="form-control"
                        :class="classes"
                        id="activity"
                        v-model="activity"
                        placeholder="Impression textile"
                        name="_activity"
                      />
                    </ValidationProvider>
                  </div>
                </div>
                <!--
                NOM RESPONSABLE
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'Nom Responsable'"
                    >
                      <label for="manager-name">Nom Responsable</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="text"
                        class="form-control"
                        :class="classes"
                        id="manager-name"
                        v-model="managerName"
                        placeholder="Jean DUPONT"
                        name="_manager_name"
                      />
                    </ValidationProvider>
                  </div>
                </div>
                <!--
                ADDRESS
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'Adresse'"
                    >
                      <label for="address">Adresse</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="text"
                        class="form-control"
                        :class="classes"
                        id="address"
                        v-model="address"
                        placeholder="642 rue Paul Héroult"
                        name="_address"
                      />
                    </ValidationProvider>
                  </div>
                </div>
                <div class="form-row">
                  <!--
                  CODE POSTAL
                  -->
                  <div class="col-md-4">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'Code postal'"
                    >
                      <label for="postal-code">Code postal</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="text"
                        class="form-control"
                        :class="classes"
                        id="postal-code"
                        v-model="postalCode"
                        placeholder="45650"
                        name="_postal_code"
                      />
                    </ValidationProvider>
                  </div>
                  <!--
                  VILLE
                  -->
                  <div class="col-md-8">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'Ville'"
                    >
                      <label for="city">Ville</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="text"
                        class="form-control"
                        :class="classes"
                        id="city"
                        v-model="city"
                        placeholder="Saint-Jean-le-Blanc"
                        name="_city"
                      />
                    </ValidationProvider>
                  </div>
                </div>
                <!--
                TÉLÉPHONE
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'Téléphone'"
                    >
                      <label for="phone">Téléphone</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="text"
                        class="form-control"
                        :class="classes"
                        id="phone"
                        v-model="phone"
                        placeholder="0238649504"
                        name="_phone"
                      />
                    </ValidationProvider>
                  </div>
                </div>
                <!--
                ADRESSE EMAIL
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }" 
                      name="'Adresse e-mail'"
                    >
                      <label for="email">Adresse e-mail</label>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <input
                        type="email"
                        class="form-control"
                        :class="classes"
                        id="email"
                        v-model="email"
                        placeholder="contact@brodelec.fr"
                        name="_email"
                      />
                    </ValidationProvider>
                  </div>
                </div>
                <!--
                TYPE D'ACTIVITÉ
                -->
                <div class="form-row">
                  <div class="col-md-12 activity-type-options">
                    <label for="activity-type">Type d'activité</label>
                    <ul>
                      <li>
                        <div class="radio-option">
                          <input
                            type="radio"
                            name="activity-type-group"
                            id="seasonal-activity"
                            checked="checked"
                            v-model="activityType"
                            value="seasonal"
                          />
                          <label for="seasonal-activity">
                            Activité Saisonnière
                          </label>
                        </div>
                      </li>
                      <li>
                        <div class="radio-option">
                          <input
                            type="radio"
                            name="activity-type-group"
                            id="permanent-activity"
                            v-model="activityType"
                            value="permanent"
                          />
                          <label for="permanent-activity">
                            Activité Permanente
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--
                GEO
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <ValidationProvider 
                      rules="required" 
                      v-slot="{ errors, classes }"  
                      name="'Emplacement géographique & activités/tourisme à proximité'"
                    >
                      <label for="geo">Emplacement géographique & activités/tourisme à proximité</label>
                      <br>
                      <span class="validate-error">{{ errors[0] }}</span>
                      <textarea
                        class="form-control"
                        :class="classes"
                        placeholder="Emplacement géographique & activités/tourisme à proximité"
                        id="geo"
                        v-model="geo"
                        name="_geo"
                        rows="6"
                      ></textarea>
                    </ValidationProvider>
                  </div>
                </div>
                <!--
                INFOS
                -->
                <div class="form-row">
                  <div class="col-md-12">
                    <label for="infos">Informations complémentaires</label>
                    <textarea
                      class="form-control"
                      placeholder="Informations complémentaires"
                      id="infos"
                      v-model="infos"
                      name="_infos"
                      rows="6"
                    ></textarea>
                  </div>
                </div>
                <div class="flex justify-space-between align-center">
                  <button
                    type="submit"
                    class="btn btn-solid mt-2"
                    :class="{ disabled: invalid }"
                    :disabled="invalid"
                  >Envoyer ma demande</button>
                  <span v-if="requestSent" class="text-success"><i class="fa fa-check"></i> &nbsp;Votre demande a bien été transmise</span>
                </div>
              </form>
              </ValidationObserver>
            </div>
          </div>
          <div class="col-lg-6 right-contact-page">
            <iframe
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9ktJsF6uqb3F7MH3H0Vy1Egi72NL5lP0&q=Brodelec+642+Paul+Heroult+45650+Saint-Jean-le-Blanc&zoom=8"
              width="600"
              height="450"
              style="border: 0;"
              allowfullscreen
              loading="lazy"
            ></iframe>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2676.4291414431873!2d1.9331662158276641!3d47.870018077736745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4e4816e0cc5d3%3A0x56b07090abf62a2e!2sBrodelec!5e0!3m2!1sfr!2sfr!4v1619444483261!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
            <div class="contact-right">
              <ul>
                <li>
                  <div class="contact-icon">
                    <img :src="contactData.phoneimage" alt="Generic placeholder image" />
                    <h6>Téléphone</h6>
                  </div>
                  <div class="media-body">
                    <p class="lh-60">{{ contactData.phone }}</p>
                  </div>
                </li>
                <li>
                  <div class="contact-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <h6>Adresse</h6>
                  </div>
                  <div class="media-body">
                    <p v-html="contactData.address"></p>
                  </div>
                </li>
                <li>
                  <div class="contact-icon">
                    <img :src="contactData.emailimage" alt="Generic placeholder image" />
                    <h6>Adresse Email</h6>
                  </div>
                  <div class="media-body">
                    <p class="lh-60">{{ contactData.email }}</p>
                  </div>
                </li>
                <li>
                  <div class="contact-icon">
                    <i class="fa fa-fax" aria-hidden="true"></i>
                    <h6>Fax</h6>
                  </div>
                  <div class="media-body">
                    <p class="lh-60">{{ contactData.fax }}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>

<script>
  import Header from '@/components/header/header'
  import Footer from '@/components/footer/footer'
  import Breadcrumbs from '@/components/widgets/breadcrumbs'
  import { RepositoryFactory } from '@/repositories/RepositoryFactory'
  const UsersRepository = RepositoryFactory.get('users')
  
  export default {
    components: {
      Header,
      Footer,
      Breadcrumbs
    },
    data() {
      return {
        title: 'Demande d\'ouverture de compte',
        company: null,
        siret: null,
        activity: null,
        managerName: null,
        address: null,
        postalCode: null,
        city: null,
        phone: null,
        email: null,
        activityType: 'seasonal',
        geo: null,
        infos: null,
        contactData: {
          phoneimage: require('@/assets/images/icon/phone.png'),
          emailimage: require('@/assets/images/icon/email.png'),
          phone: '02.38.64.95.04',
          address: '642 rue Paul Héroult <br> 45650 Saint-Jean-le-Blanc',
          email: 'contact@brodelec.fr',
          fax: '02.38.76.80.65',
        },
        requestSent: false,
      }
    },
    methods: {
      onSubmit() {
        const requestData = {
          company: this.company,
          siret: this.siret,
          activity: this.activity,
          managerName: this.managerName,
          address: this.address,
          postalCode: this.postalCode,
          city: this.city,
          phone: this.phone,
          email: this.email,
          activityType: this.activityType,
          geo: this.geo,
          infos: this.infos,
        }
        UsersRepository.requestAccess(requestData)
          .then(({ data }) => {
            this.requestSent = true
          }).catch(err => {
            
          })
      }
    }
  }
</script>

<style scoped>
  .register-page {
    padding-top: 15px;
  }

    .register-page .theme-card {
      background: #f8f8f8;
    }

      .register-page input::placeholder,
      .register-page textarea::placeholder {
        color: rgb(225, 225, 225) !important;
      }
    
      .register-page .theme-card .theme-form label,
      .contact-page .theme-card .theme-form label {
        margin-right: 15px;
        text-transform: none;
      }

  .lh-60 {
    line-height: 60px !important;
  }

  .right-contact-page {
    padding-top: 42px;
  }

  .activity-type-options li {
    display: flex;
  }

    .activity-type-options li:hover {
      cursor: pointer;
    }
  
  .flex {
    display: flex;
  } 
  
  .justify-space-between {
    justify-content: space-between;
  } 
  
  .align-center {
    align-items: center;
  }
</style>