<template>
  <div>
    <Header />
    <Breadcrumbs :title="title" />
    <!-- about section start -->
    <section class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h4>{{ aboutTitle }}</h4>
            <div v-html="aboutText"></div>
          </div>
          <div class="col-lg-12 mt-3 mb-3">
            <div class="banner-section">
              <img :src="aboutbanner" class="img-fluid" alt />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about section end -->
    <Footer />
  </div>
</template>
<script>
import Header from '@/components/header/header'
import Footer from '@/components/footer/footer'
import Breadcrumbs from '@/components/widgets/breadcrumbs'
export default {
  components: {
    Header,
    Footer,
    Breadcrumbs
  },
  data() {
    return {
      title: 'Qui sommes-nous',
      swiperOption: {
        slidesPerView: 2,
        spaceBetween: 20,
        breakpoints: {
          991: {
            slidesPerView: 1,
            spaceBetween: 20
          }
        }
      },
      swiperOption2: {
        slidesPerView: 4,
        spaceBetween: 20,
        breakpoints: {
          1199: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          991: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          420: {
            slidesPerView: 1,
            spaceBetween: 20
          }
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      aboutbanner: require('@/assets/images/main/qui-sommes-nous.png'),
      aboutTitle: 'Brodelec',
      aboutText: `
      <p>Acteur du monde du souvenir/cadeau depuis les jeux olympiques d’hiver d’Albertville 92, Brodelec décline ses gammes depuis lors, en s’attachant à faire transparaitre dans ses collections l’esprit de chaque région.</p><br>
      <p>Avec le concours de ses attachés commerciaux, nos graphistes anticipent les tendances du marché en mettant à profit les ressources des techniques dont l’entreprise dispose : broderie, sérigraphie, impression numérique, pose de strass, impression par transfert.</p><br>
      <p>Afin de mettre à la disposition de sa clientèle un outil informatique de consultation des visuels allant jusqu’à la possibilité d’enregistrement de commandes de réassort, Brodelec a développé une interface que nous vous invitons à découvrir ; celle-ci vous apportera des fonctionnalités insoupçonnées et accélèrera en outre le traitement de vos commandes.</p><br><br>
      <p>Alors, si ce n’est déjà fait, demandez vos codes d’accès à Eric (02 38 64 99 10 ou commandes@brodelec.fr)</p>`
    }
  }
}
</script>

<style scoped>
  .about-page {
    padding-top: 10px;
  }

    .about-page p {
      margin-bottom: 0;
    }
</style>