<template>
  <div class="box-layout-body">
    <Header></Header>
    <Slider></Slider>
    <div class="container box-layout bg-image">
      <ProductSlider 
        :products="products" 
        @openQuickview="showQuickview" 
        @openCompare="showCompare" 
        @openCart="showCart"
      ></ProductSlider>
      <Banner></Banner>
      <ProductSlider 
        :products="products" 
        @openQuickview="showQuickview" 
        @openCompare="showCompare" 
        @openCart="showCart"
      ></ProductSlider>
    </div>
    <Services></Services>
    <Footer></Footer>
    <quickviewModel 
      :openModal="showquickviewmodel" 
      :productData="quickviewproduct"
    ></quickviewModel>
    <compareModel 
      :openCompare="showcomparemodal" 
      :productData="comapreproduct" 
      @closeCompare="closeCompareModal"
    ></compareModel>
    <cartModel 
      :openCart="showcartmodal" 
      :productData="cartproduct" 
      @closeCart="closeCartModal" 
      :products="products" 
      :category="category"
    ></cartModel>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Header from '@/components/header/header'
  import Footer from '@/components/footer/footer'
  import quickviewModel from '@/components/widgets/quickview'
  import compareModel from '@/components/widgets/compare-popup'
  import cartModel from '@/components/cart-model/cart-modal-popup'
  import newsletterModel from '@/components/widgets/newsletter-popup'
  import Slider from './components/slider'
  import ProductSlider from './components/product_slider'
  import Banner from './components/banner'
  import ProductTab from './components/product_tab'
  import Services from './components/services'

  export default {
    components: {
      Header,
      Slider,
      ProductSlider,
      Banner,
      ProductTab,
      Footer,
      quickviewModel,
      compareModel,
      cartModel,
      newsletterModel,
      Services
    },
    data() {
      return {
        products: [],
        category: [],
        showquickviewmodel: false,
        showcomparemodal: false,
        showcartmodal: false,
        quickviewproduct: {},
        comapreproduct: {},
        cartproduct: {}
      }
    },
    computed: {
      ...mapState({
        productslist: state => state.products.productslist
      })
    },
    mounted() {
      this.productsArray()
    },
    methods: {
      productsArray: function () {
        this.productslist.map((item) => {
          if (item.type === 'fashion') {
            this.products.push(item)
            item.collection.map((i) => {
              const index = this.category.indexOf(i)
              if (index === -1) this.category.push(i)
            })
          }
        })
      },
      showQuickview(item, productData) {
        this.showquickviewmodel = item
        this.quickviewproduct = productData
      },
      showCompare(item, productData) {
        this.showcomparemodal = item
        this.comapreproduct = productData
      },
      closeCompareModal(item) {
        this.showcomparemodal = item
      },
      showCart(item, productData) {
        this.showcartmodal = item
        this.cartproduct = productData
      },
      closeCartModal(item) {
        this.showcartmodal = item
      }
    }
  }
</script>
