<template>
  <div>
    <section class="p-0">
      <div
        class="full-banner parallax text-center p-left"
        v-bind:style="{ 'background-image': `url(${imagepath})` }"
      >
        <img :src="imagepath" alt class="bg-img d-none" />
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="banner-contain">
                <h2>{{title}}</h2>
                <h3>{{subtitle}}</h3>
                <h4>{{text}}</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, <br>
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset<br> 
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        imagepath: require('@/assets/images/parallax/16.jpg'),
        title: '',
        subtitle: 'BRODELEC STORE',
        text: 'FOURNISSEUR DE TENDANCES'
      }
    }
  }
</script>

<style scoped>
  .banner-contain p {
    margin-top: 50px;
    padding: 20px;
    line-height: 1.5em;
  }
</style>